@{
    Layout = "_Layout";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-3 mt-0 bg-light">
    <div id="PartialViewContainer">
        <partial name="DashboardSubPart.cshtml" />
    </div>
    <div id="SearchResult">

    </div>
    <partial name="../Actions/Modals/_CancelCase.cshtml" />
</div>

<script>
    $(function (){
        $("#filterForm").submit();
    });
</script>