@{
    Layout = "../Shared/AdminLayout/_Layout";
    ViewData["Title"] = "Dashboard";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-3 mt-0 bg-light">
    <div id="PartialViewContainer">
        <partial name="DashboardSubPart.cshtml" />
    </div>
    <div id="SearchResult">

    </div>
    <partial name="../Actions/Modals/_CancelCase.cshtml" />
    <partial name="../Actions/Modals/_AssignCase.cshtml" />
    <partial name="../Actions/Modals/_BlockCase.cshtml" />
    <partial name="../Actions/Modals/_TransferRequest.cshtml" />
    <partial name="../Actions/Modals/_ClearCase.cshtml" />
    <partial name="../Actions/Modals/_SendAgreement.cshtml" />    
</div>

<script>
    $(function (){
        $("#filterForm").submit();
    });
</script>