@{
    Layout = "../Shared/AdminLayout/_Layout";
    ViewData["Title"] = "Dashboard";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-3 mt-0 bg-light">
    <div id="PartialViewContainer">
        <partial name="DashboardSubPart.cshtml" />
    </div>
    <div id="SearchResult">

    </div>
    <partial name="../Actions/Modals/_CancelCase.cshtml" />
    <partial name="../Actions/Modals/_AssignCase.cshtml" />
    <partial name="../Actions/Modals/_BlockCase.cshtml" />
    <partial name="../Actions/Modals/_TransferRequest.cshtml" />
    <partial name="../Actions/Modals/_ClearCase.cshtml" />
    <partial name="../Actions/Modals/_SendAgreement.cshtml" />    
    <partial name="../Actions/Modals/_SendLink.cshtml" />
</div>

<script>
    $(function (){
        $("#filterForm").submit();
    });
</script>

<script>
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>