@{
    Layout = "../Shared/AdminLayout/_LayoutLogin";
    ViewData["Title"] = "Forgot Password";
}

<div class="align-self-center my-4 col-md-6 col-xs-10">
    <a asp-controller="Login" asp-action="Index" class="text-info text-decoration-none">
        <strong>
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </strong>
    </a>
    <h3 class="py-3">Forgot Passsword</h3>
    <form>
        <div class="form-floating mb-4 username">
            <input type="email" class="form-control shadow-none " id="Username" placeholder="name@example.com">
            <label for="Username">Username</label>
            <button type="button" class="btn btn-light">
                <i class="icon fa-solid fa-user field-icon position-relative"></i>
            </button>
        </div>
    </form>
    <a asp-controller="Login" asp-action="ResetPassword" class="btn btn-info text-white w-100 mb-4" role="button">
        Reset Passsword
    </a>
    <a asp-controller="Login" asp-action="Index" class="text-decoration-none d-flex justify-content-center">
        <strong class="text-info"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back to Login
        </strong>
    </a>
</div>