@{
    Layout = "../Shared/AdminLayout/_LayoutLogin";
    ViewData["Title"] = "Platform Login";
}

@model HalloDocMVC.DBEntity.DataModels.Aspnetuser;
<div class="align-self-center col-md-6 col-xs-10">
    <a asp-controller="Login" asp-action="LandingPage" class="text-decoration-none">
        <strong class="text-info">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </strong>
    </a>
    <h3 class="py-3">Login To Your Account</h3>
    <strong class="text-danger">@ViewData["error"]</strong>
    <form id="LoginForm" asp-controller="Login" asp-action="Validate" method="post">
        <div class="form-floating mb-4 email">
            <input asp-for="Email" type="email" class="form-control shadow-none " id="Email" placeholder="name@example.com">
            <label class="bg-transparent" for="Email">Email</label>
            <button type="button" class="btn btn-light">
                <i class="icon fa-solid fa-user field-icon position-relative"></i>
            </button>
            <span class="text-danger emailerror" style="display:none;">Enter valid email address</span>
        </div>
        <div class="form-floating mb-4 password">
            <input asp-for="Passwordhash" type="password" class="form-control shadow-none eyehide " id="Password" placeholder="Password" required>
            <label for="Password">Password</label>
            <button type="button" class="btn btn-light" onclick="passtoggle()">
                <i class="fa fa-eye-slash"></i>
                <i class="showImg fa fa-eye"></i>
            </button>
        </div>
        <button type="button" class="btn btn-info text-white w-100 mb-4 p-2 shadow-none" role="button" onclick="CheckLoginValidation()">
            Login
        </button>
    </form>
    <a asp-controller="Login" asp-action="ForgotPassword" class="text-decoration-none d-flex justify-content-center">
        <strong class="text-info">Forgot Password?</strong>
    </a>
</div>

<script>
    function passtoggle() {
        var x = document.getElementById("Password");
        if (x.type == "password") {
            x.type = "text";
            document.querySelectorAll("i.fa.fa-eye").forEach(i => i.style.display = "none");
            document.querySelectorAll("i.fa.fa-eye-slash").forEach(i => i.style.display = "block");
        }
        else {
            x.type = "password";
            document.querySelectorAll("i.fa.fa-eye").forEach(i => i.style.display = "block");
            document.querySelectorAll("i.fa.fa-eye-slash").forEach(i => i.style.display = "none");
        }
    }

    
</script>

<script>
    function CheckLoginValidation() {
        var password = $("#Password").val();
        var email = $("#Email").val();

        if (password != null && email != null) {
            if (ValidateEmail(email) == true) {
                $('#LoginForm').submit();
            }
            else {
                $('.emailerror').show();
            }
        }
        else {
            $('.emailerror').show();
        }
    }
    function ValidateEmail(email) {
        var allowed = /^([a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$)/;
        return allowed.test(email);
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>