@{
    Layout = "../Shared/AdminLayout/_Layout";
    ViewData["Title"] = "Encounter";
}

@model HalloDocMVC.DBEntity.ViewModels.AdminPanel.EncounterModel

<div class="d-flex justify-content-center bg-light">
    <div class="d-flex flex-column my-2 col-lg-8 col-md-10">
        <div class="d-flex justify-content-between px-2">
            <div>
                <strong class="fs-4">
                    Encounter Form
                </strong>
            </div>
            <div>
                <a asp-controller="Dashboard" asp-action="Index" class="btn border border-info shadow-none">
                    <strong class="text-info">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                    </strong>
                </a>
            </div>
        </div>
        <div class="shadow bg-white rounded m-2 p-3">
            <div class="text-center text-info fs-3 fw-bolder mb-3">
                Medical Report - Confidential
            </div>
            <form method="post" asp-controller="Actions" asp-action="EditEncounterData">
                <input type="hidden" asp-for="RequesClientId" />
                <input type="hidden" asp-for="RequesId" />
                <input type="hidden" asp-for="EncounterId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control shadow-none" id="FirstName" placeholder="Enter First Name" autocomplete="off">
                            <label for="FirstName">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control shadow-none" id="LastName" placeholder="Enter Last Name" autocomplete="off">
                            <label for="LastName">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Location" type="text" class="form-control shadow-none" id="Location" placeholder="Enter Location" autocomplete="off">
                            <label for="Location">Location</label>
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" type="date" class="form-control shadow-none" id="DateOfBirth" placeholder="Enter Date of Birth" autocomplete="off">
                            <label for="DateOfBirth">Date of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Date" type="date" class="form-control shadow-none" id="DateOfBirth" placeholder="Enter Date" autocomplete="off">
                            <label for="Date">Date</label>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none" id="phone" autocomplete="off">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" id="email" class="form-control shadow-none" placeholder="name@example.com" autocomplete="off">
                            <label for="email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="HistoryOfIllness" class="form-control shadow-none" placeholder="Leave a comment here" id="Illness" />
                            <label for="Illness">History Of Present Illness Or Injury</label>
                            <span asp-validation-for="HistoryOfIllness" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="HistoryOfMedical" class="form-control shadow-none" placeholder="Leave a comment here" id="MedicalHistory" />
                            <label for="MedicalHistory">Medical History</label>
                            <span asp-validation-for="HistoryOfMedical" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Medications" class="form-control shadow-none" placeholder="Leave a comment here" id="Medications" />
                            <label for="Medications">Medications</label>
                            <span asp-validation-for="Medications" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Allergies" class="form-control shadow-none" placeholder="Leave a comment here" id="Allergies" />
                            <label for="Allergies">Allergies</label>
                            <span asp-validation-for="Allergies" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input asp-for="Temp" type="text" class="form-control shadow-none" id="Temp" placeholder="Enter Temp" autocomplete="off">
                            <label for="Temp">Temp</label>
                            <span asp-validation-for="Temp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input asp-for="Hr" type="text" class="form-control shadow-none" id="HR" placeholder="Enter HR" autocomplete="off">
                            <label for="HR">HR</label>
                            <span asp-validation-for="Hr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input asp-for="Rr" type="text" class="form-control shadow-none" id="RR" placeholder="Enter RR" autocomplete="off">
                            <label for="RR">RR</label>
                            <span asp-validation-for="Rr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Heent" class="form-control shadow-none" placeholder="Leave a comment here" id="Heent" />
                            <label for="Heent">Heent</label>
                            <span asp-validation-for="Heent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="CV" class="form-control shadow-none" placeholder="Leave a comment here" id="CV" />
                            <label for="CV">CV</label>
                            <span asp-validation-for="CV" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Chest" class="form-control shadow-none" placeholder="Leave a comment here" id="Chest" />
                            <label for="Chest">Chest</label>
                            <span asp-validation-for="Chest" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="ABD" class="form-control shadow-none" placeholder="Leave a comment here" id="ABD" />
                            <label for="ABD">ABD</label>
                            <span asp-validation-for="ABD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Extr" class="form-control shadow-none" placeholder="Leave a comment here" id="Extr" />
                            <label for="Extr">Extr</label>
                            <span asp-validation-for="Extr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Skin" class="form-control shadow-none" placeholder="Leave a comment here" id="Skin" />
                            <label for="Skin">Skin</label>
                            <span asp-validation-for="Skin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Neuro" class="form-control shadow-none" placeholder="Leave a comment here" id="Neuro" />
                            <label for="Neuro">Neuro</label>
                            <span asp-validation-for="Neuro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Other" class="form-control shadow-none" placeholder="Leave a comment here" id="Other" />
                            <label for="Other">Other</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Diagnosis" class="form-control shadow-none" placeholder="Leave a comment here" id="Diagnosis" />
                            <label for="Diagnosis">Diagnosis</label>
                            <span asp-validation-for="Diagnosis" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Treatment" class="form-control shadow-none" placeholder="Leave a comment here" id="TreatmentPlan" />
                            <label for="TreatmentPlan">Treatment Plan</label>
                            <span asp-validation-for="Treatment" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="MedicationsDispensed" class="form-control shadow-none" placeholder="Leave a comment here" id="MedicationsDispensed" />
                            <label for="MedicationsDispensed">Medications Dispensed</label>
                            <span asp-validation-for="MedicationsDispensed" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Procedures" class="form-control shadow-none" placeholder="Leave a comment here" id="Procedures" />
                            <label for="Procedures">Procedures</label>
                            <span asp-validation-for="Procedures" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Followup" class="form-control shadow-none" placeholder="Leave a comment here" id="Followup"/>
                            <label for="Followup">Followup</label>
                            <span asp-validation-for="Followup" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-info text-white shadow-none me-2">Save Changes</button>
                    @{
                        if (Model.Isfinalize == false)
                        {
                            <button type="submit" value="Finalize" asp-action="Finalize" asp-controller="SubmitForm" class="btn btn-danger btn-cancel me-2" style="background-color:#9c27b0">Finalize</button>
                        }
                    }
                    <a asp-controller="Dashboard" asp-action="Index" class="btn border border-info text-info shadow-none">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/intlTelInput.min.js"></script>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>