<div class="container mb-5">
    <div class="card bg-transparent border-0">
        <div class="card-header  border-0  bg-transparent text-end">
            <div class="text-start d-flex justify-content-between">
                <div>
                    <h4 class="form-title fw-bold mt-2 mx-2">New Request</h4>

                </div>
                <div>
                    <a asp-controller="Dashboard" asp-action="Index" class="btn border border-info shadow-none">
                        <strong class="text-info">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                        </strong>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-body rounded shadow">
            
        </div>
    </div>
</div>